@import "tailwindcss";

/* general colors */
:root {
    --redColor: #e63946;
    --beigeColor: #f1faee;
    --skyColor: #a8dadc;
    --waterColor: #457b9d;
    --blueColor: #1d3557;
    --grayColor: #808080;
    --whiteColor: #ffffff;
    --blackColor: #000000;
}

/* banner */
@layer utilities {
    @keyframes shine {
        0% {
            background-position: 100%;
        }

        100% {
            background-position: -100%;
        }
    }

    .animate-shine {
        animation: shine 5s linear infinite;
    }
}


/* font */
body {
    font-family: 'JetBrains Mono', monospace;
}


/* app gradiend */
.custom-gradient {
    background: linear-gradient(to right, var(--blackColor) 20%, var(--blueColor) 80%);
}

/* xs carousel */
@layer utilities {
    @keyframes scroll-left {
        0% {
            transform: translateX(0%);
        }

        100% {
            transform: translateX(-840%);
        }
    }

    @keyframes scroll-right {
        0% {
            transform: translateX(-840%);
        }

        100% {
            transform: translateX(0%);
        }
    }

    .animate-scroll-left-slow {
        animation: scroll-left 35s linear infinite;
    }

    .animate-scroll-right-fast {
        animation: scroll-right 40s linear infinite;
    }
}

/* sm carousel */
@media (min-width: 640px) {
    @layer utilities {
        @keyframes scroll-left {
            0% {
                transform: translateX(0%);
            }

            100% {
                transform: translateX(-420%);
            }
        }

        @keyframes scroll-right {
            0% {
                transform: translateX(-420%);
            }

            100% {
                transform: translateX(0%);
            }
        }

        .animate-scroll-left-slow {
            animation: scroll-left 45s linear infinite;
        }

        .animate-scroll-right-fast {
            animation: scroll-right 50s linear infinite;
        }
    }
}

/* md carousel */
@media (min-width: 768px) {
    @layer utilities {
        @keyframes scroll-left {
            0% {
                transform: translateX(0%);
            }

            100% {
                transform: translateX(-330%);
            }
        }

        @keyframes scroll-right {
            0% {
                transform: translateX(-330%);
            }

            100% {
                transform: translateX(0%);
            }
        }

        .animate-scroll-left-slow {
            animation: scroll-left 40s linear infinite;
        }

        .animate-scroll-right-fast {
            animation: scroll-right 45s linear infinite;
        }
    }
}

/* lg carousel */
@media (min-width: 1024px) {
    @layer utilities {
        @keyframes scroll-left {
            0% {
                transform: translateX(0%);
            }

            100% {
                transform: translateX(-227%);
            }
        }

        @keyframes scroll-right {
            0% {
                transform: translateX(-227%);
            }

            100% {
                transform: translateX(0%);
            }
        }

        .animate-scroll-left-slow {
            animation: scroll-left 30s linear infinite;
        }

        .animate-scroll-right-fast {
            animation: scroll-right 35s linear infinite;
        }
    }
}

/* xl carousel */
@media (min-width: 1280px) {
    @layer utilities {
        @keyframes scroll-left {
            0% {
                transform: translateX(0%);
            }

            100% {
                transform: translateX(-305%);
            }
        }

        @keyframes scroll-right {
            0% {
                transform: translateX(-305%);
            }

            100% {
                transform: translateX(0%);
            }
        }

        .animate-scroll-left-slow {
            animation: scroll-left 30s linear infinite;
        }

        .animate-scroll-right-fast {
            animation: scroll-right 35s linear infinite;
        }
    }
}

/* 2xl carousel */
@media (min-width: 1536px) {
    @layer utilities {
        @keyframes scroll-left {
            0% {
                transform: translateX(0%);
            }

            100% {
                transform: translateX(-402%);
            }
        }

        @keyframes scroll-right {
            0% {
                transform: translateX(-402%);
            }

            100% {
                transform: translateX(0%);
            }
        }

        .animate-scroll-left-slow {
            animation: scroll-left 30s linear infinite;
        }

        .animate-scroll-right-fast {
            animation: scroll-right 35s linear infinite;
        }
    }
}

/* Carrusel track (invisible overflow y animación) */
.slider {
    position: relative;
    width: 100%;
    display: flex;
    /*align-items: center;*/
    overflow: hidden;
}

/* Doble ancho para hacer loop visual */
.slider-track {
    display: flex;
    width: 100%;
}

/* Cada card ocupa 25% del ancho del carrusel */
.slide {
    flex-shrink: 0;
    padding: 0.5rem;
    box-sizing: border-box;
}

/* Sombras negras laterales */
.slider::before,
.slider::after {
    content: '';
    position: absolute;
    top: 0;
    width: 10%;
    height: 100%;
    z-index: 10;
    pointer-events: none;
    filter: blur(26px);
}

/* left shadow */
.slider::before {
    left: 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.8), transparent);
}

/* right shadow */
.slider::after {
    right: 0;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.8), transparent);
}

/* icons banner */
.icn-banner {
    width: 50px;
    height: 50px;
    object-fit: contain;
    transition: transform 0.3s ease;
}

.icn-banner:hover {
    transform: scale(1.1);
}

/* icon banner animations */
@keyframes fall {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        transform: translateY(100vh) rotate(var(--rotate));
        opacity: 0;
    }
}